.main-container {
  padding: 0px 0px 80px 0px;
}
.services-title {
  margin-bottom: 60px;
  margin-top: 90px;
}
.text-b {
  font-weight: 700;
  color: #30b2d2;
}
.services-title h1 {
  font-size: 50px;
}
.services-title p {
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
}
.services-title p::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 60px;
  margin-left: 50%;
  background-color: #30b2d2;
  top: 42px;
  left: 0;
  transform: translate(-50%, -50%);
}
.service-top {
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px;
  background-position: center;
  position: relative;
}
.service-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000000b0;
  height: 100%;
  width: 100%;
}
.service-top h1 {
  z-index: 111;
  position: relative;
}
