.home-p {
  background: linear-gradient(
    to right,
    rgba(130, 190, 66, 1) 0%,
    rgba(48, 178, 210, 1) 50%,
    rgba(28, 76, 147, 1) 100%
  );
  padding: 50px 0px;
}
.item h2 {
  font-size: 40px;
  color: aliceblue;
  padding-right: 20px;
}
