.regi-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}

/*responsive */
/* 
Small devices (portrait phones,less then 576px)
*/

@media (max-width: 575.98px) {
  .frm-bd {
    width: 100%;
  }
}
/* 
Small devices (landscape phones, 576px and up)
  */

@media (min-width: 576px) and (max-width: 767.98px) {
  .frm-bd {
    width: 100%;
  }
}
