.footer {
  background-color: #eeeeee;
  padding: 80px 0px;
}
.ft-img {
  text-align: center;
}
.ft-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #2196f329;
  line-height: 39px !important;
  text-align: center;
  border-radius: 50%;
  background: #30b2d230;
  color: #1c4c93;
  margin-right: 20px;
}
.footer-md li {
  list-style: none;
  margin: 0px 0px 8px 0px;
}
.footer-md li a {
  text-decoration: none;
  color: #000000b8;
  font-size: 17px;
  font-weight: 600;
}
.footer-lt {
  display: flex;
}
.ft-t {
  margin-top: -14px;
}
