.main-banner {
  margin: 0;
}
.banner-left {
  background-image: url(../images/bgn-testimonials.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 111px;
}
.banner-left h1 {
  font-size: 52px;
  font-weight: 700;
  color: #000000a6;
}
.later {
  font-size: 82px;
  color: #0d8bf0;
  font-weight: 900;
}
.banner-btn {
  padding: 12px 35px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  background: #0d8bf0;
  border: 1px solid #0d8bf0;
  color: #fff;
  margin-top: 20px;
}
.s-img {
  height: 501px;
  object-fit: cover;
}

/* responsive */
/* 
Small devices (portrait phones,less then 576px)
*/

@media (max-width: 575.98px) {
  .banner-left {
    padding: 77px 15px;
  }
  .later {
    font-size: 68px;
  }
  .banner-left h1 {
    font-size: 46px;
  }
  .services-title h1 {
    font-size: 47px;
  }
  .contact-top h1 {
    font-size: 30px;
  }
  .contact-top p {
    padding: 8px 0px;
  }
}
/* 
Small devices (landscape phones, 576px and up)
  */

@media (min-width: 576px) and (max-width: 767.98px) {
  .contact-top p {
    padding: 8px 0px;
  }
}
